<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded -0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Email</label>
            <input
              [(ngModel)]="registerUserdata.email"
              type="text"
              name="email"
              class="form-control rounded-0"
              required
            />
          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input
              [(ngModel)]="registerUserdata.password"
              type="password"
              name="password"
              class="form-control rounded-0"
              required
            />
          </div>
          <button
            (click)="registerUser()"
            type="button"
            class="btn btn-primary float-right"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
