<div class="row pt-5">
  <div class="col-md-12 mx-auto">
    <div class="card rounded -0">
      <div class="card-header">
        <h3 class="mb-0">Personal Information</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">First Name</label>
            <input
              [(ngModel)]="registerUserdata.first_name"
              type="text"
              name="first_name"
              class="form-control rounded-0"
              required
            />
          </div>

          <div class="form-group">
            <label for="">Last Name</label>
            <input
              [(ngModel)]="registerUserdata.last_name"
              type="text"
              name="last_name"
              class="form-control rounded-0"
              required
            />
          </div>

          <div class="form-group">
            <label for="">Address</label>
            <input
              [(ngModel)]="registerUserdata.address"
              type="text"
              name="address"
              class="form-control rounded-0"
              required
            />
          </div>

          <div class="form-group">
            <label for="">Phone</label>
            <input
              mask="(000) 000-0000"
              type="tel"
              [(ngModel)]="registerUserdata.phone"
              name="phone"
              class="form-control rounded-0"
              required
            />
          </div>

          <input type="file" (change)="readURL($event)" />
          <img
            width="100px"
            border-radius="20px"
            *ngIf="imageSrc == null"
            src="../../../assets/user.png"
            alt="icon"
          />

          <img
            *ngIf="imageSrc != null"
            style="width: 100px; border-radius: 50px;"
            id="blah"
            [src]="imageSrc || 'http://placehold.it/180'"
            alt="your image"
          />

          <button
            (click)="SaveUser()"
            type="button"
            class="btn btn-primary float-right"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
