<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Eventhub</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active"
          >Events</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active"
          >Members</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <a
        class="nav-link"
        *ngIf="!auth.loggedIn()"
        routerLink="/login"
        routerLinkActive="active"
        >Login</a
      >
      <a
        class="nav-link"
        *ngIf="!auth.loggedIn()"
        routerLink="/register"
        routerLinkActive="active"
        >Register</a
      >
      <a
        class="nav-link"
        *ngIf="auth.loggedIn()"
        (click)="auth.logout()"
        style="cursor: pointer;"
        >Logout</a
      >
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
